:root {
  --color-blue: #95cfd5;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #c42129;
  --color-pink: #e0adc5;
  --color-beige: #f5c7b3;
  --color-whiteBg: rgba(255, 255, 255, 1);
  --color-lightGray: rgba(204, 204, 204, 1);
}
* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

/* ----------- General background style --------*/
/* RED */
.red {
  background-color: var(--color-red);
}
/* Blue */
.blue {
  background-color: var(--color-blue);
  /* z-index: 0; */
}
/* Pink */
.pink {
  background-color: var(--color-pink);
}
/* Beige */
.beige {
  background-color: var(--color-beige);
}
.white {
  background-color: var(--color-whiteBg);
  border-radius: 7px;
}

/* ********* GENERAL STYLES ******** */
/* ----------------Header------------ */
header {
  width: 100%;
  background-color: var(--color-white);
  z-index: 1;
  position: relative;
  z-index: 50;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 2px 2px rgb(0, 0, 0.25);
  z-index: -1;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav__burger {
  transform: translateY(0px);
  padding-left: 20px;
  cursor: pointer;
  /* не працює */
  transition: transform 100ms linear;
}

.nav__logo {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__logo > img {
  width: 100%;
}

.nav__item {
  grid-row: 2;
  grid-column: 1/4;
  width: 100%;
  height: 171px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--color-black);
  background-color: var(--color-white);

  transition: transform 1s ease-in-out;
}

.nav__itemBlock {
  height: 100%;
}

.nav__itemBlock li {
  padding: 0 20px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;

  transition: background-color 200ms linear, color 200ms linear;
}

.nav__itemBlock a {
  color: var(--color-black);
}

.nav__icon {
  width: 100%;
  height: 100%;
  grid-column: 3/-1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.nav__icon div {
  cursor: pointer;
}

/* ----------- Header menu ---------------*/
.nav__panels-body {
  position: absolute;
  width: 100%;
  max-width: 1072px;
  min-height: fit-content;
  padding: 0px 20px;
  margin: auto;
  background-color: var(--color-white);
  top: calc(113px);
  left: 0;
  right: 0;
  z-index: 15;

  transition: transform 1s ease-in-out;
}

.nav__panel-title {
  padding: 20px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--color-black);
  cursor: pointer;
}

.nav__panel-items {
  transform: translateY(0.5%);

  transition: transform 500ms linear;
}

.nav__panel li {
  padding: 6px;
}

.nav__panel a {
  cursor: default;
  font-weight: 400;
  font-size: 11px;
  color: var(--color-black);
}

.nav__panel a:hover {
  font-weight: 600;
  text-decoration-line: underline;
}

/* ЗМІНИ ТУТ */
.hide {
  transform: translateY(-250%);
  z-index: 20;
}

.hideMenu {
  transform: translateY(0);
  /* height: 100%; */
  visibility: visible;
}
.basket {
  position: relative;
}

.basketNum {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 2px;
  background-color: #000;
  color: var(--color-white);
  position: absolute;
  right: -7px;
  top: -10px;
  z-index: 5;
}

.basketInfoWrap {
  position: fixed;
  top: 0;
  left: 100%;
  width: 300px;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  transition: 0.5s;
  z-index: 51;
}
.active .basketInfoWrap {
  left: calc(100% - 300px);
}

.basketGoods li {
  padding: 10px;
  display: grid;
  grid-template-columns: 70px repeat(3, 1fr);
  color: var(--color-white);
  row-gap: 10px;
}

.checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.basketInfo h3 {
  color: #000;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketInfo div {
  background-color: var(--color-white);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--color-black);
  cursor: auto;
}

.basketInfo .close {
  background-color: var(--color-lightGray);
  transition: all 200ms linear;
  cursor: pointer;
}
.close:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.basketGoods li div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.basketGoods li img {
  width: 90%;
}
.basketGoods button {
  width: auto;
  background-color: var(--color-lightGray);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  border-radius: 3px;

  transition: all 200ms linear;
}
.basketGoods > button {
  padding: 16px 32px;
  background-color: var(--color-black);
  margin: 0 auto;
  border-radius: 2px;
  display: block;
  margin-top: 20px;
}
.basketGoods button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.basketGoods > button:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 4px var(--color-lightGray);
}
.close:active,
.basketGoods button:active {
  transform: translateY(2px);
}

/* ----------------- Main ------------------------ */
main {
  width: 100%;
  min-height: calc(100vh - 56px);

  transition: background-color 500ms linear;
}

.kettles {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  transition: 0.5s;
}

.active .kettles {
  width: 70%;
  transform: translateX(-200px);
}

.kettles__container-info {
  width: 100%;
}

.kettles__container-info > h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--color-white);
  padding-top: 12px;
}

.kettles__container-info > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  color: var(--color-white);
  padding-top: 9px;
  padding-bottom: 15px;
}

.kettles__btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.kettles__btn {
  width: 166px;
  height: 40px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;

  transition: background-color 200ms linear, color 200ms linear;
}

.kettles__btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.kettles__btn:active {
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: none;
}

.kettles__main-img {
  width: 80%;
  margin: auto;
  margin-bottom: 19px;

  transition: opacity 500ms linear;
}

.kettles__main-img > img {
  width: 100%;
  height: auto;
}

.kettles__radioBtns {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.lab-wrap {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  position: relative;
}

input[type="radio"]:checked + .lab::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--color-white);
  position: absolute;
  top: 1px;
  left: 1.3px;
  border-radius: 50%;

  /* z-index: 4; */
}

/*********************************************************************/
/* ----------MEDIA SCREEN from 0px to 769px -------------------------*/
@media screen and (max-width: 769px) {
  header {
    height: 56px;
  }

  .nav__logo {
    padding: 16px 38px;
  }
  .nav__itemBlock li {
    height: 33%;
    position: relative;
  }
  .products a {
    display: inline-block;
    width: 100%;
    z-index: 20;

    transition: background-color 1s linear;
  }

  .products-change {
    background-color: var(--color-black);
  }
  .products-change-text {
    color: var(--color-white) !important;
    text-align: center;
  }

  .item-row {
    position: absolute;
    right: 20px;
    width: 8px;

    transition: transform 300ms linear;
  }

  .item-row-rotate {
    transform: rotate(90deg);
    color: white;
  }

  .nav__icon {
    flex-direction: row-reverse;
  }
  .nav__icon > img {
    display: block;
  }

  .nav__icon > div:first-child {
    position: absolute;
    left: 50px;
  }

  .nav__icon > div:nth-child(2) {
    position: absolute;
    right: 20px;
    margin-left: 15px;
  }

  .nav__icon > div:last-child {
    position: absolute;
    right: 50px;
  }

  .nav__panel-title {
    border-bottom: 1px solid var(--color-lightGray);
    position: relative;
  }

  .item-plus {
    position: absolute;
    right: 0;
  }

  .hideMenu {
    height: 0;
    /* transform: translateY(0); */
    visibility: hidden;
    opacity: 0;
  }

  /* ----Main----- */
  .kettles__container-info > p {
    padding: 16px 20px;
    text-align: center;
  }

  .kettles__btn-box {
    justify-content: space-evenly;
  }

  .kettles__video > div {
    display: none;
  }

  .kettles__choose {
    display: none;
  }

  .kettles__radioBtns {
    width: 64px;
  }
}

/* ****************************************************** */
/* --------- MEDIA SCREEN from 769px ------------ */
@media screen and (min-width: 769px) {
  /* -------------Header ------ */
  header {
    height: 9vh;
    padding: 0px 70px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .nav__burger {
    transform: translateY(-250px);
    position: absolute;
  }

  .nav__item {
    width: 55%;
    height: 100%;
    font-size: 14px;
    transform: translateY(0);
  }

  .nav__itemBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .products {
    border-bottom: 4px solid var(--color-black);
  }

  .item-row,
  .item-plus {
    display: none;
  }

  .nav__icon {
    width: 11%;
    height: 100%;
  }

  .nav__panels-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    min-height: 373px;
    padding: 24px 75px;
    top: calc(16px + 9vh);
    /* z-index: -15; */
  }

  .unhide {
    transform: translateY(0);
    z-index: 5;
  }
  .nav__panel {
    width: 23%;
  }

  .nav__panel:first-child {
    width: 40%;
  }

  .nav__panel-title {
    margin-bottom: 13px;
    padding: 6px;
    font-size: 14px;
    cursor: default;
  }

  .nav__panel a {
    font-size: 14px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  /* ----------------- Main ------------------------ */
  main {
    min-height: 90vh;
  }

  .kettles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 68px;
    gap: 1rem;
  }

  .kettles__container-info {
    width: 45%;
  }

  .kettles__container-info > h1 {
    font-size: 140px;
    padding-top: 127px;
    text-align: start;
  }

  .kettles__container-info > p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 36px;
  }

  .kettles__video {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kettles__video > div {
    padding-left: 8px;
  }

  .kettles__btn-box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 46px;
    margin-bottom: 64px;
  }

  .kettles__video {
    cursor: pointer;
  }

  .kettles__btn {
    width: 272px;
    height: 52px;
    font-size: 16px;

    transition: background-color 200ms linear, color 200ms linear;
  }

  .kettles__choose {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .kettles__choose > div {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    cursor: pointer;
  }

  .kettles__main-img {
    width: 43%;
  }

  .kettles__radioBtns {
    flex-direction: column;
    align-items: center;
    height: 64px;
  }

  input[type="radio"]:checked + .lab::after {
    z-index: 10;
  }
}

/* *************************************** */
/* ---------MEDIA  SCREEN over 1620 px------*/
/* @media screen and (min-width: 1620px) {
  header,
  main {
    max-width: 1620px;
    margin: auto;
  }
} */
